<!DOCTYPE html>
<html>
<head>
	<title>Mom's Kitchen</title>
	<link rel="stylesheet" type="text/css"  href="../css/kitchen_styles.css" media="screen"/>
</head>
<body>
<h1>Mom's Kitchen
<img class="logo" src="../images/logo.jpg" width="100" height="100"></h1>
	<nav>
	<ul>
        <li><a href="Kitchen.html">Home</a></li>
        <li><a href="aboutus.html">About</a></li>
		<li><a href="menu.html">Menu</a></li>
		<li><a href="services.html">Services</a></li>
		<li><a href="contacts.html">Contact</a></li>
		<button class="book_tbl_btn">Book your Table<br> Now</button>
	</ul>
</nav>

<div class="ab">
	<figure><img src="../images/foodie.jpg">
		<img src="../images/foodie cartoon.jpg">
	</figure>
	<h2>FOOD is the ingredient that binds us TOGETHER</h2>
</div>
    
<div>
    <h3>Feel free to contact us</h3>
    <hr>
        <h3>Address</h3>
        <p>Block no.9,xyz street,Solapur.</p>
        <h3>Contact Details</h3>
        <p>Contact No.-9876543210</p>
        <p>Email-Id - mom'skitchen@gmail.com</p>
        <p>Website- www.momskitchen.com</p>
        <hr>
        <h3>Opening Hours</h3>
        <p>From 11:00am to 10:00pm</p>
    <hr>
</div>
<fieldset>
    <legend>Details for enquiry</legend>

    <input type="text" name="Name of person" required="required">Name of the person<br>
    <br><input type="text" name="Contact no" required="required" maxlength="10">Contact number<br><br>
    <input type="text" name="Party">Party Type<br><br>
    <input type="text" name="no.of person">Number of person for arrangement<br><br>
    <input type="Submit" value="Send your Enquiry">
</fieldset>
		<div id="ab">
		<img class="ag" src="../images/namaste.jpg" width="150" height="75">
		<img class="ag" src="../images/thanks.jpg" width="300" height="150"/>
		<img  class="ag" src="../images/namaste.jpg" width="150" height="75">
</div><hr>
</body>
</html>