<!DOCTYPE html>
<html>
<head>
	<title>Mom's Kitchen</title>
	<link rel="stylesheet" type="text/css"  href="../css/kitchen_styles.css" media="screen"/>
</head>

<body>
<h1>Mom's Kitchen <img class="logo" src="../images/logo.jpg" width="100" height="100"> </h1>

<nav>
	<ul>
        <li><a href="Kitchen.html">Home</a></li>
        <li><a href="aboutus.html">About</a></li>
		<li><a href="menu.html">Menu</a></li>
		<li><a href="services.html">Services</a></li>
		<li><a href="contacts.html">Contact</a></li>
		<button class="book_tbl_btn">Book your Table<br> Now</button>
	</ul>
</nav>

<div class="ab">
	<figure><img src="../images/foodie.jpg">
		<img src="../images/foodie cartoon.jpg">
	</figure>
	<h2>FOOD is the ingredient that binds us TOGETHER</h2>
</div>

<div>
    We provide food like your mom's taste
	<h3>Food court is famous for</h3>
    <ul>
        <li>Snacks</li>
        <li>South Indian</li>
        <li>Pure Veg</li>
        <li>Non-Veg</li>
        <li>Chinese fastfood </li>
    </ul> <hr>
    <div class="ad">
        <h3>Mom's Kitchen-Features</h3>
        <ul><li>Air Conditioned</li>
        <li>Wifi</li>
        <li>Parking</li>
        <li>All Cards are accepted</li>
        <li>Lift</li>
        <li>Free Home Delivery</li>
        <li>Take Away</li></ul>
    </div>
    <hr>
    <h3>Celebrate At Mom's Kitchen</h3>
    <ul>
        <li>Birthday Parties</li>
        <li>Kitty Parties</li>
        <li>Anniversary Celebration</li>
        <li>Candle light dinner</li>
        <li>Meetings</li>
        <li>Family and Friends get together</li>
        <li>Bachelorette Party</li>
    </ul>
</div>

<div id="ab">
	<img class="ag" src="../images/namaste.jpg" width="150" height="75">
	<img class="ag" src="../images/thanks.jpg" width="300" height="150"/>
	<img  class="ag" src="../images/namaste.jpg" width="150" height="75">
</div>
<hr>
<hr>
</body>
</html>